<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XML Parser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E062FC481EA8D9A4008D25A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E062FC5C1EA8D9A5008D25A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E062FC671EA8D9A5008D25A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
